<h3>Doctors</h3>
<%= link_to "Add Doctor" , new_admin_doctor_path(@user) %>
<br/>
<%= flash[:notice] %>
<br/>
<table border="1">
  <tr>
  <th>Name</th>
  <th>Age</th>
  <th>Phone_num</th>
  <th>Username</th>

  <th>Delete</th>
</tr>


<% @doctor.each do|doctor| %>
<tr>
  <td><%=link_to doctor.name , admin_doctor_path(@user,doctor) %></td>
  <td><%=h doctor.age %></td>
  <td><%=h doctor.phone_no %></td>
  <td><%=h doctor.username %></td>
  <td><%= link_to 'Edit', edit_admin_doctor_path(@user,doctor) %> | <%= link_to 'Delete', doctor, :confirm => 'Are you sure want to delete?',
                          :method => :delete %></td>
</tr>
<% end %>
</table>
<br/>
<br/>
<%=link_to "Back" , admins_path , :style => "color: white; background: #000; border-width: thick; border-radius: 5px; padding: 5px; font-family: monospace;"%>

